<% layout('/layouts/boilerplate.ejs')%>
<h1>All Places</h1>
<div>
    <a href="/places/new">Add Place</a>
</div>
<ul>

    <% for (let campground of campgrounds){%>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <!-- If no image then display a default one-->
                <%if (campground.images.length){%>
                <img class="img-fluid" src="<%=campground.images[0].url%>" alt="Place Image">
                <%}else{%>
                <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/6/6a/A_blank_flag.png" alt="Place Image">
                <%}%>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"> <%= campground.title%> </h5>
                    <p class="card-text"> <%= campground.description %> </p>
                    <p class="card-text">
                        <small class="text-muted"> <%= campground.location %></small>
                    </p>
                    <!--                            //TODO: Maybe changed-->
                    <a class="btn btn-primary" href="places/<%= campground._id%>">View <%= campground.title%></a>
                </div>
            </div>
        </div>
    </div>
    <% }%>
</ul>