<% layout('/layouts/boilerplate.ejs')%>
    <h1><%= campground.title %></h1>
    <h2><%= campground.location %></h2>
    <img src="<%= campground.image %>" alt="">
    <p><%= campground.description%></p>
    <p> <a href="/places/<%=campground._id%>/edit">Edit</a>
    </p>
    <p>
    <form action="/places/<%=campground._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </p>
    <footer>
        <a href="/places">All Places</a>
    </footer>
